<!--Bottom nav-->

<!-- <footer>
  <nav class="navbar fixed-bottom bg-dark">
      <h6 class="display-10 navbar-text text-light">&copy; Copyright 2022. All Rights Reserved Awas Jomail</h6>
  </nav>
</footer> -->

<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Egor, Student # 301179880</a>
    </div>
    <h6 class="display-6"&copy;2022 All rights reserved.></h6>
  </nav>
  </footer>
